Tests: exercise
Depends: acl,
         busybox-static,
         curl,
         golang-go,
         jq,
         git,
         gettext,
         lxc1,
         make,
         pep8,
         pyflakes3,
         shellcheck,
         sqlite3,
         uuid-runtime,
         @
Restrictions: needs-root allow-stderr
