Tests: exercise
Depends: acl,
         busybox-static,
         btrfs-tools,
         curl,
         golang-go,
         jq,
         git,
         make,
         socat,
         sqlite3,
         thin-provisioning-tools,
         uuid-runtime,
         zfsutils-linux [amd64 arm64 ppc64el s390x],
         @builddeps@,
         @
Restrictions: needs-root allow-stderr isolation-machine
