[Unit]
Description=Container hypervisor based on LXC - boot time check
After=lxd.socket
Requires=lxd.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/lxd activateifneeded
TimeoutSec=30s

[Install]
WantedBy=multi-user.target
