[Unit]
Description=Container hypervisor based on LXC - container startup/shutdown
After=lxd.socket
Requires=lxd.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/lxd activateifneeded
ExecStop=/usr/bin/lxd shutdown
TimeoutStartSec=30s
TimeoutStopSec=90s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
